<template lang="pug">
.header(ref='header', :class='{ "is-white": dropdownOpened }')
  .header__main(:class='{ active: inited }')
    .header__logo
      Logo
    .header__container
      .header__top
        .header__links
          .header__item
            nuxt-link.header__link(to='/services') Каталог
            .header__dropdown-container
              nuxt-link.header__dropdown-link(to='/services/slug') Dropdown item
              nuxt-link.header__dropdown-link(to='/services/slug') Dropdown item
              nuxt-link.header__dropdown-link(to='/services/slug') Dropdown item
          .header__item
            nuxt-link.header__link(to='/solutions') Решения
            .header__dropdown-container
              nuxt-link.header__dropdown-link(to='/solutions/slug') Dropdown item
              nuxt-link.header__dropdown-link(to='/solutions/slug') Dropdown item
              nuxt-link.header__dropdown-link(to='/solutions/slug') Dropdown item
          .header__item
            nuxt-link.header__link(to='/') Производство
            .header__dropdown-container
              nuxt-link.header__dropdown-link(to='/') Dropdown item
              nuxt-link.header__dropdown-link(to='/') Dropdown item
              nuxt-link.header__dropdown-link(to='/') Dropdown item
          .header__item
            nuxt-link.header__link(to='/') Ссылки для теста
            .header__dropdown-container
              nuxt-link.header__dropdown-link(to='/info/slug') Типовая страница
              nuxt-link.header__dropdown-link(to='/news') Новости
              nuxt-link.header__dropdown-link(to='/news/slug') Новость
              nuxt-link.header__dropdown-link(to='/objects/slug') Страница объекта
              nuxt-link.header__dropdown-link(to='/product/slug') Страница товара
              nuxt-link.header__dropdown-link(to='/services') Услуги
              nuxt-link.header__dropdown-link(to='/services/slug') Услуга
              nuxt-link.header__dropdown-link(to='/solutions') Решения
              nuxt-link.header__dropdown-link(to='/solutions/slug') Решение
              nuxt-link.header__dropdown-link(to='/about') О нас
              nuxt-link.header__dropdown-link(to='/builders') Строителям
              nuxt-link.header__dropdown-link(to='/collaboration') Сотрудничество с нами
              nuxt-link.header__dropdown-link(to='/contacts') Контакты
              nuxt-link.header__dropdown-link(to='/designers') Конструкторам
              nuxt-link.header__dropdown-link(to='/files') Справочник
              nuxt-link.header__dropdown-link(to='/vacancies') Вакансии
        .header__contacts
          a.header__phone(href='#')
            svg-icon.header__phone-icon(name='phone')
          a.header__link.phone(href='#') +7 (812) 493-34-98
          .header__button(@click='toogleDropdown')
            .header__burger(:class='{ animate: dropdownOpened }') 
      .header__bottom
        .header__item
          nuxt-link.header__link.normal(to='/designers') Генподрядчикам
        .header__item
          nuxt-link.header__link.normal(to='/designers') Конструкторам
        .header__item
          nuxt-link.header__link.normal(to='/builders') Строителям
        .header__item
          nuxt-link.header__link.normal(to='/about') О компании
        .header__item
          nuxt-link.header__link.normal(to='/') Социальная ответственность
  transition(name='dropdown')
    .header__dropdown(v-if='dropdownOpened')
      DropdownMenu
</template>

<script>
export default {
  props: ['path'],
  data() {
    return {
      dropdownOpened: false,
      inited: false,
    }
  },
  methods: {
    toogleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
      if (this.dropdownOpened == true) {
        document.querySelector('body').classList.add('fixed')
      } else {
        document.querySelector('body').classList.remove('fixed')
      }
    },
  },
  mounted() {
    this.$nuxt.$on('closeMenu', this.toogleDropdown)
    this.inited = true
    let head = document.querySelector('.header')
    if (window.outerWidth < 500) {
      head.classList.add('is-fixed')
    }
    if (window.outerWidth < 500 && this.path === '/') {
      head.classList.add('unfill')
      head.classList.remove('is-fixed')
    }
    window.addEventListener('scroll', () => {
      this.scrollTop = pageYOffset

      if (window.outerWidth >= 500 && this.path === '/') {
        if (this.scrollTop > window.outerHeight - 96) {
          head.classList.add('is-fixed')
        } else {
          head.classList.remove('is-fixed')
        }
      } else {
        head.classList.add('is-fixed')
      }

      if (window.outerWidth >= 500 && this.path !== '/') {
        if (this.scrollTop > 150 && this.path !== '/') {
          head.classList.add('is-fixed')
        } else {
          head.classList.remove('is-fixed')
        }
      }
      if (window.outerWidth < 500 && this.path === '/') {
        if (this.scrollTop > window.outerHeight - 64 && this.path === '/') {
          head.classList.add('is-fixed')
          head.classList.remove('unfill')
        } else {
          head.classList.add('unfill')
          head.classList.remove('is-fixed')
        }
      }
    })
  },
}
</script>

<style src='./header.scss' lang="scss">
</style>