@charset "UTF-8";

.header {
  $this: &;
  background-color: $color-white;
  z-index: 100;
  transition: all 0.3s ease;

  &.is-white {
    background-color: $color-white !important;
    #{$this}__link {
      color: $color-grey-900 !important;
    }
    #{$this}__bottom {
      border-top: 1px solid $color-grey-900 !important;
    }

    
  }

  &.is-fixed {
    width: 100%;
    position: fixed !important;
    top: -96px;
    transform: translateY(96px);
    background-color: $color-white !important;
    // box-shadow: 0 2px 10px $color-grey-300;

    #{$this}__link {
      color: $color-grey-900 !important;
    }
    #{$this}__bottom {
      border-top: 1px solid $color-grey-900 !important;
    }
    
    #{$this}__phone-icon {
      stroke: $color-grey-900 !important;
    }


    #{$this}__burger {
      background: $color-grey-900 !important;

      &.animate {
        &::before {        
          background: $color-grey-900;        
        }
        &::after {        
          background: $color-grey-900;        
        }
      }
      &::before {        
        background: $color-grey-900 !important;        
      }
      &::after {        
        background: $color-grey-900 !important;        
      }
    }

    @media (max-width: $s) {
      top: -64px;
      transform: translateY(64px);
    }
  }

  &.unfill {
    background-color: unset;
    position: absolute;
    width: 100%;

    #{$this}__link {
      color: $color-white;
    }
    #{$this}__bottom {
      border-top: 1px solid $color-white;
    }

    #{$this}__phone-icon {
      stroke: $color-grey-0;
    }

    #{$this}__burger {
      background: $color-white;

      &.animate {
        &::before {        
          background: $color-grey-900;        
        }
        &::after {        
          background: $color-grey-900;        
        }
      }
      &::before {        
        background: $color-grey-0;        
      }
      &::after {        
        background: $color-grey-0;        
      }
    }
  }
  &__main {
    display: flex;
    align-items: center;
    // background-color: $color-white;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
    &.active {
      opacity: 1;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 32px;

    @media (max-width: $m) {
      padding: 0 24px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid $color-grey-900;
    padding-bottom: 11.5px;
    @media (max-width: $s) {
      padding-bottom: 0;
    }
    @media (max-width: $xs) {
      justify-content: flex-end;
    }
  }

  &__bottom {
    padding-top: 11.5px;
    display: flex;
    border-top: 1px solid $color-grey-900;

    @media (max-width: $s) {
      display: none;
    }
  }

  &__links {
    display: flex;
    @media (max-width: $xs) {
      display: none;
    }
  }

  &__item {
    position: relative;
    @media (max-width: $s) {
      &:nth-child(+n+ 4) {
        display: none;
      }
    }
    & + & {
      margin-left: 16px;
    }

    &:hover {
      & .header__dropdown-container {
        opacity: 1;
        visibility: visible;
        z-index: 2;
      }
    }
  }

  &__dropdown-container {
    transition: opacity, visibility;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    border-radius: 0.8rem;
    background: $color-white;
    box-shadow: 0 0 12px rgba(18, 22, 26, 0.24);
    padding: 0.8rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 46px;
    left: calc(50% - 120px);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    width: 24rem;

    &::before {
      content: '';
      position: absolute;
      top: -7px;
      width: 14px;
      height: 14px;
      transform: rotate(45deg);
      background-color: #fff;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: -22px;
      width: 240px;
      height: 26px;
      right: 0;
      left: 0;
      z-index: 0;
    }
  }

  &__dropdown-link {
    padding: 12px 16px;
    color: $color-grey-900;
    @include fontSize(16, 24);
    border-radius: 4px;
    font-weight: 500;
    &:hover {
      background-color: $color-grey-100;
      color: $color-grey-900;
    }
  }

  &__link {
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 600;

    &.normal {
      @include fontSize(14, 16);
      font-weight: 500;
    }

    &.phone {
      margin-right: 16px;
      @media (max-width: $xs) {
        display: none;
      }
    }
  }

  &__phone-icon {
    width: 2.4rem;
    height: 2.4rem;
    stroke: $color-grey-900;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &__phone {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    @media (max-width: $xs) {
      display: flex;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 8px;

    @media (max-width: $xss) {
      width: 40px;
      height: 40px;
    }
  }

  &__burger {
    margin-bottom: 6px;
    $bar-width: 18px;
    $bar-height: 2px;
    $bar-spacing: 4px;

    width: $bar-width;
    height: $bar-height;

    position: relative;
    transform: translateY($bar-spacing);
    background: $color-grey-900;
    transition: all 0ms 300ms;

    &.animate {
      background: rgba(255, 255, 255, 0);

      &::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: $bar-width;
      height: $bar-height;
      left: 0;
      bottom: $bar-spacing;
      background: $color-grey-900;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::after {
      content: '';
      position: absolute;
      width: $bar-width;
      height: $bar-height;
      left: 0;
      top: $bar-spacing;
      background: $color-grey-900;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &__dropdown {
    position: absolute;
    width: 100%;
  }
}
