<template lang='pug'>
.color-picker
  .color-picker__tabs
    .color-picker__box
      button.color-picker__tab(
        type='button',
        @click='toggleTab(1)',
        :class='{ active: tab == 1 }'
      ) Стандартные цвета
      button.color-picker__tab(
        type='button',
        @click='toggleTab(2)',
        :class='{ active: tab == 2 }'
      ) Дополнительные цвета
  .color-picker__content(:class='{"active": tab == 1}' v-if="tab == 1")
    ColorsSlider(:data='colors.standart')
  .color-picker__content(:class='{"active": tab == 2}' v-if="tab == 2")
    ColorsSliderAlt(:data='colors.advanced') 
</template>

<script>
export default {
  data() {
    return {
      tab: 1,
      colors: {
        standart: [
          {
            color: '#DFCEA1',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#E6D9BD',
            image: '/question.png',
            name: 'RAL 2005',
          },
          {
            color: '#FDDA38',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#E8540D',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#581E29',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#6D312B',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#791F24',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#004389',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#276230',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#0E4438',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#999A9F',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#45302B',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#DADBD5',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#9AA0A7',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#9AA0A7',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#9AA0A7',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#9AA0A7',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
        ],
        advanced: [
          {
            color: '#DFCEA1',
            image: '/question.png',
            name: 'RAL 2004',
          },
          {
            color: '#E6D9BD',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#FDDA38',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#E8540D',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#581E29',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#FDDA38',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#E8540D',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#581E29',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#FDDA38',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#E8540D',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
          {
            color: '#581E29',
            image: '/colors-slider.png',
            name: 'RAL 2004',
          },
        ],
      },
    }
  },
  methods: {
    toggleTab(id) {
      this.tab = id
      this.$nuxt.$emit('toogleColors')
    },    
  },
}
</script>

<style lang='scss' src='./color-picker.scss'>
</style>