.guide-card {
  $this: &;
  position: relative;
  // width: 318px;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  overflow: hidden;
  background-color: $color-grey-100;
  transition: background-color 0.3s ease;

  @media (max-width: $l) {
    // width: 264px;
    height: 264px;
  }
  @media (max-width: $m) {
    // width: 226px;
    height: 226px;
  }
  @media (max-width: $s) {
    // width: 200px;
    height: 200px;
    padding: 16px;
  }
  @media (max-width: $xss) {
    // width: 264px;
    height: 176px;
  }
  @media (max-width: $xs) {
    width: 100%;
    height: 192px;
  }

  &:hover {    
    #{$this}__guide {
      stroke: $color-grey-0;
      fill: $color-grey-0;
    }
    #{$this}__name {
      color: $color-grey-0;
    }
    #{$this}__icon {
      fill: $color-grey-0;
    }
    #{$this}__background-color {
      transform: translateY(0);
      opacity: 1;
    }
    #{$this}__icon {      
      transform: translate(8px, -8px);
    }
  }  

  &__background-color {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    background-color: $color-blue-900;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
  } 
  

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: $color-grey-900;
    transition: transform 0.5s ease;
  }

  &__bottom {
    z-index: 2;    
    position: relative;
    transition: all 0.6s ease;
  }

  &__name {
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color 0.3s ease;
  }

  &__guide {
    stroke: $color-grey-900;
    fill: $color-grey-900;
    width: 48px;
    height: 48px;
    stroke-width: 0.5;
  }
}
