.conditions {
  display: flex;
  flex-direction: column;

  &__text {
    @include fontSize(18, 28);
    font-weight: 400;
    color: $color-grey-900;
  }

  &__list {
    margin-top: 16px;
  }

  &__item {
    padding-left: 32px;
    @include fontSize(18, 28);
    font-weight: 400;
    color: $color-grey-900;
    position: relative;

    & + & {
      margin-top: 8px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 14px;
      left: 4px;
      width: 16px;
      height: 2px;
      background-color: $color-blue-700;
    }
  }
}
