.contact-item {
  display: flex;
  flex-direction: column;

  &+& {
    margin-top: 96px;

    @media (max-width: $m) {
      margin-top: 72px;
    }
    @media (max-width: $s) {
      margin-top: 64px;
    }

    @media (max-width: $xs) {
      margin-top: 40px;
    }
  }

  &__title {
    color: $color-grey-900;
    @include fontSize(24, 32);
    font-weight: 600;
  }
  &__content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 48px;
    margin-top: 16px;
    margin-bottom: 8px;

    @media (max-width: $s) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__text {
    color: $color-grey-900;
    @include fontSize(18, 24);
    font-weight: 400;
  }

  &__show {
    color: $color-blue-700;
    @include fontSize(18, 24);
    font-weight: 500;
    cursor: pointer;
    margin-top: 8px;
  }
}