<template lang="pug">
.contact-item
  h3.contact-item__title {{data.title}}
  .contact-item__content
    .contact-item__map
      p.contact-item__text {{data.address}}
      .contact-item__show(@click='onMap([59.819647, 30.509783])') Показать на карте
    p.contact-item__text {{data.phone}}
    p.contact-item__text {{data.email}}  
</template>

<script>
export default {
  props: ['data'],
  methods: {
    onMap(coords) {
      this.$nuxt.$emit('mapPanTo', coords)
    }
  },
}
</script>



<style src='./contact-item.scss' lang="scss">
</style>