<template lang="pug">
  .filter-sidebar
    .filter-sidebar__container
      .filter-sidebar__head
        h2.filter-sidebar__title Вид профиля
        button.filter-sidebar__close(@click='closeSidebar')
          svg-icon.filter-sidebar__icon(name="close")
      .filter-sidebar__body
        FilterSelector(v-for="filter in filters" :key="filter.id" :data='filter' v-model='filter.checked' @change='change(filter.value)' :class='{"active": filter.value == label}')
    button.filter-sidebar__button(@click='getProduct') Применить
</template>

<script>
export default {
  data() {
    return {
      label: '',
      filters: [
        {
          image: '/filter-item-1.svg',
          text: 'Вид профиля',
          value: 'Микроволна',
          name: 1,
          checked: false
        },
        {
          image: '/filter-item-2.svg',
          text: 'Толщина металла',
          value: '0,4 мм',
          name: 1,
          checked: false
        },
        {
          color: '#B7D1F9',
          text: 'Наполнитель',
          value: 'Пенополистирол',
          name: 1,
          checked: false
        },
        {
          color: '#E8540D',
          text: 'Цвет',
          value: 'RAL2004',
          name: 1,
          checked: false
        },
      ],
    }
  },
  methods: {
    closeSidebar() {
      this.$nuxt.$emit('closeFilters')
    },
    getProduct() {
      console.log(this.label)
      this.$nuxt.$emit('closeFilters');
    },
    change(slug) {
      this.label = slug
      console.log(this.label);
      // this.params[id] = this.label
    },
  },
}
</script>

<style src='./filter-sidebar.scss' lang="scss">

</style>