<template lang="pug">
  .partners
    p.partners__text.container-small Завод строительных конструкций «Стройэлемент» при производстве продукции использует сырьё высокого качества от лучших российских и зарубежных производителей
    .partners__grid
      .partners__item
        img(src='/partner-11.png')
      .partners__item
        img(src='/partner-22.png')
      .partners__item
        img(src='/partner-55.png')
      .partners__item
        img(src='/partner-66.png')
      .partners__item
        img(src='/partner-55.png')
      .partners__item
        img(src='/partner-33.png')
      .partners__item
        img(src='/partner-66.png')
      .partners__item
        img(src='/partner-44.png')
    //- .container.main.is-partners
    //-   p.partners__text Завод строительных конструкций «Стройэлемент» при производстве продукции использует сырьё высокого качества от лучших российских и зарубежных производителей
    //- .partners__grid.small
    //-   .partners__item
    //-     img(src='/partner-1.png')
    //-   .partners__item
    //-     img(src='/partner-2.png')
    //-   .partners__item
    //-     img(src='/partner-3.png')
    //-   .partners__item
    //-     img(src='/partner-4.png')      
</template>

<style src="./partners.scss" lang="scss">

</style>