<template lang="pug">
.page__content
  .container-header
    SectionHeader(:breadcrumbs='breadcrumbs', title='Упаковка сэндвич-панелей', image='/solution-card-1.jpg' objects='55 объектов') 
  .container 
    Section(title="Описание")
      Description     
    Section(title="Особенности проектирования производственных помещений")
      Advantages(:advantages='advantages')
    Section(title="Используемая в решении продукция")
      MaterialsSlider
      MaterialsSlider
    Section(title="Реализованные объекты")  
    ObjectsMain  
    Section(title="Отзывы")
      ReviewsSlider     
  .container.padding-top  
    FormFeedback  
</template>

<script>
export default {
  data() {
    return {
      advantages: [
        {
          icon: '/fire.svg',
          text: 'Помогаем в проектировании  и применении готовых решений',
        },
        {
          icon: '/fire.svg',
          text: 'Консультируем по особенностям применения сэндвич-панелей и их монтажу;',
        },
        {
          icon: '/fire.svg',
          text: 'Помогаем во время реализации проекта и оперативно решаем возникающих вопросов',
        },
        {
          icon: '/fire.svg',
          text: 'Предоставляем нормативную базу для сдачи объекта и ввода его в эксплуатацию',
        },
        {
          icon: '/fire.svg',
          text: 'Сопровождаем проект от подачи заявки до заключения договора, если он участвует в торгах;',
        },
        {
          icon: '/fire.svg',
          text: 'Сопровождение специалистами сделок по производству сэндвич-панелей',
        },
      ],
    }
  },  
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'решения',          
          url: '/solutions',          
        },
        {
          title: 'Производственные помещения',         
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>