<template lang="pug">
.filter-selector(@click='changeProduct' ref='label')
  .filter-selector__container
    img.filter-selector__image(v-if='data.image', :src='data.image')
    .filter-selector__color(
      v-if='data.color',
      :style='"background-color: " + data.color'
    )
    p.filter-selector__value {{ data.value }}
  label.checkbox()
    input.checkbox__tag(
      type='radio',      
      name='111',
      :value='data.value'
      v-model='value',
    )
    .checkbox__box
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      value: '',
    }
  },
  methods: {
    changeProduct(e) {
      console.log(123123)
      this.$emit('change', this.$refs.label)
      this.$emit('input', e.target.value)
    },
  },
}
</script>

<style src='./filter-selector.scss' lang="scss">
</style>