@keyframes bulletProgress {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 24px;
    height: 24px;
  }
}

.main-slider {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 1;

  overflow: hidden;

  &__content {
    position: relative;
    overflow: hidden;
    margin-top: 176px;
    z-index: 3; 
  }

  &__container {
    overflow: hidden;
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transition: ease opacity 0.3s;
    display: flex;
    pointer-events: none;
    &.swiper-slide-active {
      pointer-events: all;
      z-index: 2;
    }
  }

  &__title {
    width: 100%;
    color: $color-grey-0;
    @include fontSize(64, 72);
    font-weight: 600;

    position: relative;

    @media (max-width: $m) {
      @include fontSize(56, 64);
    }
    @media (max-width: $s) {
      @include fontSize(40, 48);
    }
    @media (max-width: $xss) {
      @include fontSize(32, 40);
    }
  }

  &__subtitle {
    background-color: $color-blue-700;
    font-style: normal;
  }

  &__image {
    width: 100%;
    z-index: 0;
    filter: brightness(50%);
    object-fit: cover;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__icon {
    width: 1.7rem;
    height: 1rem;
  }

  &__next {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: $color-white;
    border-color: #fff;
    bottom: 48px;
    left: 48px;
    z-index: 20;
    outline: none;
    opacity: 1;

    &:hover {
      & .main-slider__icon {
        fill: $color-blue-900;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 24px;
    bottom: 48px;
    z-index: 4;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__paginations {
    width: 32px;
    height: 32px;
    z-index: 4;
    display: flex;
    overflow: hidden;
  }
  & .swiper-pagination-bullet {
    position: relative;
    background-color: rgba(0, 0, 0, 0.32);
    overflow: hidden;
    display: none;
    border-radius: 50%;

    &::before {
      position: absolute;
      content: '';
      border-radius: 50%;
      height: 100%;
      left: 4px;
      top: 4px;
      width: 0;

      // top: -6px;
      // left: -8px;
      display: block;
      background-color: $color-white;
      transform: rotateZ(0);
    }

    &.swiper-pagination-bullet-active {
      display: flex;
      width: 32px;
      height: 32px;
    }

    &.swiper-pagination-bullet-active::before {
      animation: bulletProgress;
      animation-fill-mode: forwards;
      animation-duration: var(--slider-delay);
      animation-timing-function: linear;
      animation-play-state: running;
    }

    // @include mq-max(md) {
    //   width: 3.2rem;
    // }
  }

  &__progress {
    width: 32px;
    height: 32px;
    background: $color-grey-900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 24px;
  }
}

.wrapper {
  width: 24px;
  height: 24px;
  position: relative;
  background: $color-grey-900;
  border-radius: 50%;
}

.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: $color-grey-0;
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 2;
  border-right: none;
}

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 1;
  border-left: none;
}

.wrapper .mask {
  width: 56%;
  height: 103%;
  position: absolute;
  border-radius: 50% 0 0 50%;
  background: inherit;
  opacity: 1;
  z-index: 3;
  transform: translateX(-1px) translateY(-1px);

  @media (max-width: $s) {
    height: 110%;
  }
}

.spinner-animated {
  animation: rota 8s linear;
}
.filler-animated {
  animation: fill 8s steps(1, end);
}
.mask-animated {
  animation: mask 8s steps(1, end);
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

@keyframes mask {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
