.characteristics {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $color-grey-300;
    padding-bottom: 24px;
    & + & {
      margin-top: 24px;
    }

    &:nth-last-child(1) {
      border-bottom: unset;
    }
  }

  &__text {
    width: 256px;
    & + & {
      margin-left: 48px;
    }
  }
}
