<template lang="pug">
.page__content
  Breadcrumbs(:data="breadcrumbs")
  Headline(title='' :content='content' underline='Услуги')
  .container.padding-top
    Services
  .container.padding-top
    FormFeedback
</template>

<script>
export default {
  data() {
    return {
      content: ['В мире построено и успешно эксплуатируется более 4000 объектов различного типа, построенных компанией «Стройэлемент».', 'При строительстве и реконструкции объектов мы применяем собственные сертифицированные решения — современные быстровозводимые трансформаторные подстанции и их отдельные компоненты.']
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Услуги',          
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>