<template lang='pug'>
.container.is-header
  .headline
    h1.headline__title {{title}} <span class="headline__title underline" v-if="underline">{{underline}}</span>
    .headline__content
      p.headline__text(v-for="item in content" :key="item.id") {{item}}      
</template>

<script>
export default {
  props: ['title', 'content', 'underline'],
}
</script>

<style lang='scss' src='./headline.scss'></style>