.headline {
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-grey-900;
    @include fontSize(64, 72);
    font-weight: 600;
    margin: 0;
    padding-bottom: 8px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;

    @media (max-width: $m) {
      @include fontSize(56, 64);
      margin-bottom: 48px;
    }
    // @media (max-width: 616px) {
    @media (max-width: $s) {
      @include fontSize(40, 48);
      margin-bottom: 32px;
    }
    @media (max-width: $xs) {
      @include fontSize(28, 36);
      margin-bottom: 24px;
    }

    &.underline {      
      margin-bottom: 0;
      text-decoration: underline;
      text-decoration-color: $color-orange;
      text-decoration-thickness: 8px;
      text-underline-offset: 14px;

      @media (max-width: $xss) {
        text-decoration-thickness: 4px;
        text-underline-offset: 4px;
      }
    }
  }

  &__content {
    // display: flex;
    // justify-content: space-between;
    // width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    @media (max-width: $m) {
      gap: 32px;;
    }
    @media (max-width: $s) {
      gap: 24px;;
    }
    @media (max-width: $xss) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__text {
    // margin-right: 48px;
    color: $color-grey-900;
    @include fontSize(18, 28);
    font-weight: 400;
    width: 100%;
    // width: 648px;

    // @media (max-width: $l) {
    //   width: 540px;
    // }

    // @media (max-width: $m) {
    //   width: 460px;
    // }

    @media (max-width: $xss) {
      width: 100%;
      &+& {
        margin-top: 16px;
      }
    }
  }
}