// .checkbox {
//   position: relative;
//   display: inline-grid;
//   grid-auto-flow: column;
//   grid-template-columns: auto 1fr;
//   align-items: center;
//   gap: 1.2rem;
//   cursor: pointer;
//   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

//   &_gray {
//     .checkbox__box {
//       background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0z' fill='%23F0F2F4'/%3E%3C/svg%3E");
//     }
//   }

//   &__box {
//     transition: background .3s ease, border .3s ease;
//     width: 2rem;
//     height: 2rem;
//     border: 1px solid $color-grey-200;
//     background-position: center;
    // background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0z' fill='%23fff'/%3E%3C/svg%3E");
//   }

//   &:hover .checkbox__box {
//     border-color: $color-grey-400;
//   }

//   &__tag {
//     position: absolute;
//     clip: rect(0 0 0 0);
//     width: 1px;
//     height: 1px;
//     margin: -1px;

//     &:checked {
//       + .checkbox__box {
//         border-color: transparent;
//         background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%230F57E3' d='M0 0h20v20H0z'/%3E%3Cpath d='M16.563 5.625l-8.75 8.75L3.438 10' stroke='%23fff' stroke-width='1.5'/%3E%3C/svg%3E");
//       }
//     }

//     &:disabled {
//       + .checkbox__box {
//         filter: grayscale(1);
//         cursor: not-allowed;
//       }
//     }
//   }

//   span {    

//     color: $color-grey-900;
//     user-select: none;
//   }

//   &_blue-text {
//     span {
//       color: $color-accent-dark-blue;
//     }
//   }
// }