<template lang="pug">
  label.checkbox
    input(type='checkbox').checkbox__tag
    .checkbox__box
    span(v-if="text") {{text}}
</template>

<script>
export default {
  props: {text: String}
}
</script>

<style src="./checkbox.scss" lang="scss">

</style>