<template lang="pug">
nuxt-link.news-card(to='/news/slug' :class='{"with-image": image}')
  .news-card__date 24 сентября 2021
  .news-card__content
    img.news-card__image(v-if="image" :src='image')
    .news-card__date-mobile 24 сентября 2021  
    .news-card__title Большая стройка в Сосновом Бору: Лениградская АЭС-2 
      svg-icon.news-card__mobile-icon(name='arrow-up-right')
  svg-icon.news-card__icon(name='arrow-up-right')
</template>

<script>
export default {
  props: ['image']
}
</script>

<style src="./news-card.scss" lang="scss">
</style>