.news-card {
  $this: &;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $color-grey-900;
  border-bottom: 1px solid $color-grey-900;
  padding: 48px 0;

  &.with-image {
    align-items: flex-end;
    @media (max-width: $s) {      
      align-items: flex-start;
    }
  }

  & + & {
    border-top: unset;
  }

  @media (max-width: $s) {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0;
  }

  &:hover {
    #{$this}__title {
      color: $color-blue-700;
    }

    #{$this}__icon {        
      fill: $color-blue-700;
    }
  }

  &__date {
    color: $color-grey-900;
    @include fontSize(18, 24);
    font-weight: 500;
    margin-right: 79px;
    // width: 15%;
    width: 152px;

    @media (max-width: $l) {
      margin-right: 44px;
    }
    @media (max-width: $m) {
      margin-right: 32px;
    }
    @media (max-width: $s) {
      display: none;
    }
  }
  &__date-mobile {
    display: none;
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 500;
    width: 100%;
    margin-bottom: 8px;

    
    @media (max-width: $s) {
      display: block; 
    }
  }

  &__title {
    color: $color-grey-900;
    @include fontSize(32, 40);
    font-weight: 500;
    transition: color 0.3s ease;
    // width: 100%;
    width: 1047px;

    @media (max-width: $l) {
      width: 844px;
    }
    @media (max-width: 1093px) {
      width: 700px;
    }
    @media (max-width: 900px) {
      width: 600px;
    }
    @media (max-width: 800px) {
      width: 500px;
    }
    @media (max-width: 700px) {
      width: 400px;
    }

    @media (max-width: $s) {
      width: 100%;
      @include fontSize(24, 32);
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__mobile-icon {
    margin-top: 8px;
    margin-left: 8px;
    width: 1.8rem;
    height: 1.8rem;
    visibility: hidden;
    @media (max-width: $s) {
      visibility: visible;
    }
  }  

  &__image {
    width: 416px;
    margin-bottom: 24px;
    @media (max-width: $l) {
      width: 344px;
    }
    @media (max-width: $m) {
      width: 296px;
    }
    @media (max-width: $s) {
      width: 304px;
    }
    @media (max-width: $xs) {
      width: 288px;
      margin-bottom: 16px;
    }
  }
}
