.advantages {
  display: flex;
  flex-direction: column;   

  &__text {
    @include fontSize(18, 28);
    font-weight: 400;
    color: $color-grey-900;
  }  

  &__solutions {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;

    @media (max-width: $m) {
      gap: 32px;
    }
    @media (max-width: $s) {
      gap: 24px;
    }
    @media (max-width: $xss) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
  }
  &__solution {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__icon {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 16px;
  }
}
