<template lang="pug">
.page__content
  .container-header
    SectionHeader(:breadcrumbs='breadcrumbs', title='Производственный комплекс IKEA', image='/object-page.png' objects='Производственные помещения')
  .container  
    Section(title="О проекте")
      DescriptionFeatures
    Section(title="Используемая при строительстве продукция")
      ProductsSlider
    Section(title="Выполненные работы")
      ServicesSlider
    Section(title="Видеопрезентация")
      VideoCard
    Section(title="Фотогалерея")
      GallerySlider
    Section(title="Отзыв от заказчика")
      ReviewCard
    Section(title="Другие объекты")
      ObjectsSlider
  .container.padding-top
    FormFeedback  
</template>

<script>
export default {
  data() {
    return {
      
    }
  },  
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'решения',          
          url: '/solutions',          
        },
        {
          title: 'объекты',          
          url: '/objects',          
        },
        {
          title: 'Производственный комплекс IKEA',         
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>