.product-card {
  $this: &;
  position: relative;
  width: 100%;
  height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  padding-bottom: 0;
  background-color: $color-blue-100;
  transition: background-color 0.3s ease;

  @media (max-width: $l) {
    height: 392px;
  }
  @media (max-width: $m) {
    height: 328px;
  }
  @media (max-width: $s) {
    height: 316px;
    padding: 16px;
    padding-bottom: 0;
  }
  @media (max-width: $xss) {
    height: 272px;
  }
  @media (max-width: $xs) {
    height: 288px;
  }

  &:hover {
    background-color: $color-blue-900;
    #{$this}__image {
      svg {
        path {
          fill: $color-white;
        }
        rect {
          fill: $color-white;
        }
      }
    }
    #{$this}__name {
      color: $color-grey-0;
    }
    #{$this}__icon {
      fill: $color-grey-0;
    }
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  &__icon {
    width: 32px;
    height: 32px; 
    fill: $color-blue-700;
  }  

  &__name {
    color: $color-blue-700;
    @include fontSize(24, 32);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color 0.3s ease;
  } 

  &__bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 384px;
    @media (max-width: $l) {
      width: 312px;
    }
    @media (max-width: $m) {
      width: 248px;
    }
    @media (max-width: $s) {
      width: 212px;
    }
    @media (max-width: $xs) {
      width: 192px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  
}
