<template lang='pug'>
.colors-slider
  .colors-slider__cont 
    button(type='button' title='Предыдущий слайд' ref="prev" v-if="mobile").colors-slider__prev
      svg-icon.colors-slider__icon.prev(name='arrow')   
    .swiper.mySwiper(ref='thumbs' :style='"width:" + this.width * 40 + "px"')       
      .swiper-wrapper
        .swiper-slide(v-for="item in data" :key="item.id" :style='"background-color: " + item.color')
    button(type='button' title='Следующий слайд' ref="next" v-if="mobile").colors-slider__next
      svg-icon.colors-slider__icon(name='arrow')
  .colors-slider__container(ref='container')
    .colors-slider__wrapper 
      .colors-slider__slide(v-for="item in data" :key="item.id")
        .colors-slider__cover
          img.colors-slider__img(:src='item.image')
        p.colors-slider__title.mobile {{item.name}}
        .colors-slider__box
          .colors-slider__thumbs-slide(:style='"background-color: " + item.color')
          p.colors-slider__title {{item.name}}          
    .colors-slider__controls
      button(type='button' title='Предыдущий слайд' ref="prev" v-if="!mobile").colors-slider__prev
        svg-icon.colors-slider__icon.prev(name='arrow')
      button(type='button' title='Следующий слайд' ref="next" v-if="!mobile").colors-slider__next
        svg-icon.colors-slider__icon(name='arrow')
  p.colors-slider__subtitle Будьте внимателы — цвета на экране монитора могут отличаться от оригинальных из-за особенностей цветопечати
</template>

<script>
import Swiper, { Navigation, Thumbs, EffectFade, Parallax } from 'swiper'
Swiper.use([Navigation, Thumbs, EffectFade, Parallax])

export default {
  props: ['data'],
  data() {
    return {
      mobile: true,
      width: this.data.length
    }
  },
  methods: { 
    toogle() {
      setTimeout(() => {
      this.initSwiper()
      console.log(this.width);
    }, 0)
    },   
    initSwiper() {
       new Swiper(this.$refs.container, {
        wrapperClass: 'colors-slider__wrapper',
        slideClass: 'colors-slider__slide',
        effect: 'fade', 
        fadeEffect: {
          crossFade: true,
        }, 
        parallax: true,      
        loop: true,
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },    
        breakpoints: {},
        thumbs: {
          swiper: new Swiper(this.$refs.thumbs, {
            wrapperClass: 'swiper-wrapper',
            slideClass: 'swiper-slide', 
            // loop: true,
            spaceBetween: 8,
            slidesPerView: this.width, 
            watchSlidesProgress: true,
            slideToClickedSlide: true, 

            // centerSlides: false,    
            // loopPreventsSlide: true,
            // allowTouchMove: false
          }),
        },        
      })      
    },
  },
  mounted() {
    this.$nuxt.$on('toogleColors', this.toogle)
    if (this.width >= 15) {
      this.width = 14
    }    
    if (window.innerWidth >= 576) {
      this.mobile = true
    } else {
      this.mobile = false
    }

    
    setTimeout(() => {
      this.initSwiper()
      console.log(this.width);
    }, 0);   
    
  },
}
</script>

<style lang='scss' src='./colors-slider.scss'>
</style>