.review-card {
  background-color: $color-grey-100;
  padding: 48px;
  padding-bottom: 84px;
  display: flex;
  flex-direction: column;

  @media (max-width: $m) {
    padding: 32px;
    padding-bottom: 68px;
  }
  @media (max-width: $s) {
    padding: 24px;
  }
  @media (max-width: $xs) {
    padding: 16px;
    padding-bottom: 24px;
  }

  &__person {
    display: flex;
    padding-left: 36px;
    align-items: center;
    margin-bottom: 32px;

    
    @media (max-width: $s) {
      padding-left: 20px;
    }
    @media (max-width: $xs) {
      padding-left: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__image {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    @media (max-width: $xs) {
      margin-left: 0;
      margin-top: 16px;
    }
  }

  &__name {
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 500;
  }
  &__position {
    color: $color-grey-500;
    @include fontSize(16, 24);
    font-weight: 400;
  }

  &__review {
    color: $color-grey-900;
    @include fontSize(18, 24);
    font-weight: 400;
    padding-left: 32px;
    border-left: 4px solid $color-blue-700;

    @media (max-width: $s) {
      padding-left: 16px;
    }
    @media (max-width: $xs) {
      padding-left: 12px;
    }
  }
}