<template lang="pug">
  .review-card
    .review-card__person
      img(src='/person.jpg').review-card__image
      .review-card__container
        p.review-card__name Джон Абрахамссон Ринг
        p.review-card__position Генеральный директор ИКЕА Россия
    p.review-card__review Компания занимается современным и эффективным способом строительства объектов любой сложности. Сфера применения быстровозводимых зданий из ЛСТК практически безгранична — дома, дачи, многоэтажные административные здания, коровники для сельского хозяйства, гаражи и многое др. ЛСТК (лёгкие стальные тонкостенные конструкции) — это очень лёгкий и качественный материал для строительства.
</template>

<style src='./review-card.scss' lang="scss">
</style>