.table {
  overflow-x: auto;


  &__tabs {
    display: flex;
  } 

  &__tab {
    flex-shrink: 0;
    @include fontSize(18, 24);
    font-weight: 500;
    color: $color-grey-500;
    padding-bottom: 8px;
    transition: color 0.3s ease;
    border-bottom: 2px solid $color-white;
    margin-bottom: 32px;

    & + & {
      margin-left: 32px;
    }

    &:hover {
      color: $color-blue-700;
    }

    &.active {
      color: $color-grey-900;
      // padding-bottom: 6px;
      border-bottom: 2px solid $color-blue-700;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;    
  }
  table,
  td,
  th {
    border: 1px solid $color-grey-300;
  }

  td,
  th {
    // display: flex;
    align-items: center;
    padding: 16px;
    @include fontSize(16, 24);
    font-weight: 400;
    color: $color-grey-900;
    text-align:center;
  }

  th {
    font-weight: 600;
  }
}

.table::-webkit-scrollbar {
  width: 0;
  height: 0;
}
