.socials {
  display: flex;

  &__item {
    & + & {
      margin-left: 8px;
    }
  }

  &__icon {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;

    &:hover {
      svg {
        fill: $color-blue-700
      }      
    }

    svg {
      fill: $color-grey-900
    }    
  }
}
