<template lang="pug">
a.file-card(href='/01.svg' download)
  .file-card__container
    img.file-card__image(:src='data.image' v-if="data.image")  
    img.file-card__icon(src='/pdf.png' v-if="!data.image && data.type == 'pdf'")  
    img.file-card__icon(src='/png.png' v-if="!data.image && data.type == 'png'")
    .file-card__download
      svg-icon.file-card__download-icon(name='arrow-down.svg') 
  p.file-card__title {{data.name}}
  p.file-card__description {{data.type}} • {{data.size}}
</template>

<script>
export default {
  props: ['data']
}
</script>

<style src='./file-card.scss' lang="scss">
</style>