.objects-main {
  &__grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    @media (max-width: $xss) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
  }

  
  
}
