<template lang="pug">
.form-feedback
  .form-feedback__headers 
    p.form-feedback__title Не нашли подходящей вакансии?
    p.form-feedback__subtitle Если вы не нашли интересующую вас вакансию — заполните форму и приложите ваше резюме. Мы обязательно рассмотрим ваше резюме и ответим на электронную почту.
  .form-feedback__inputs
    input.form-feedback__input(placeholder='Имя')
    input.form-feedback__input(placeholder='Электронная почта')
    input.form-feedback__input(placeholder='Телефон')
    textarea.form-feedback__input.area(placeholder='Комментарий') 
    .form-feedback__insert(:class='fileName ? "success" : ""')
      input(
        type='file',
        @change='changeFile',
        name='file',
        ref='file',
        accept='.jpg, .jpeg, .png, .tif, application/pdf, .ai, .eps, .cdr, .psd'
      )
      svg-icon.form-feedback__file(name='file', v-if='!fileName')
      svg-icon.form-feedback__file(name='file-done', v-if='fileName')
      span.form-feedback__span.blue(v-if='!fileName') Прикрепить файл
      span.form-feedback__span(v-if='fileName') {{ fileName }}
      //- img.form-feedback__loader(src='/loading.svg')
    span.form-feedback__error(v-if='false') Не удалось прикрепить файл. Возможно, его размер более 50 Мб
    .form-feedback__bottom
      button.form-feedback__button Отправить
      .form-feedback__policy Нажимая кнопку «Отправить» вы соглашаетесь с <a class="form-feedback__policy underline">политикой обработки персональных данных</a>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        email: '',
        phone: '',
        file: '',
      },
    }
  },
  computed: {
    fileName() {
      return this.form.file ? this.form.file.name : ''
    },
  },
  methods: {
    changeFile() {
      this.form.file = this.$refs.file.files[0]
    },
  },
}
</script>

<style lang='scss' >
@import '../FormFeedback/form-feedback';
</style>