@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-feature-settings: 'salt' on;
}

.body {
  @include text-md;

  background: $color-grey-0;
  // background: red;
  color: $color-grey-900;
  // font-family: $font-family-base;
  font-family: 'TTHoves', sans-serif;
  font-weight: $font-weight-base;
  width: 100%;

  &.fixed {
    // overflow: hidden;
    overflow-y: scroll;
    position: fixed;
  }
}

// #app {
//   min-height: 100vh;
//   min-width: 320px;
//   position: relative;
//   display: flex;
//   flex-direction: column;
// }

// main {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//   min-height: calc(100vh - 96px);
// }

a {
  @include link-base;

  transition: all $transition-duration-base;
}

a,
button {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button {
  transition: color $transition-duration-base,
    background-color $transition-duration-base, border $transition-duration-base;

  &:not(:focus-visible) {
    outline: none;
  }
}

button,
input,
select,
textarea {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

input[type='search'] {
  -webkit-appearance: none;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

// Remove Arrows/Spinners
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

select {
  border-radius: 0;

  &::-ms-expand {
    // IE11
    display: none;
  }
}

textarea {
  resize: none;
}

hr {
  border: none;
}

iframe {
  border: none;
}

img {
  max-width: 100%;

  &[width],
  &[height] {
    max-width: none;
  }
}

figure {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

small {
  @include text-sm;
}

svg {
  vertical-align: top;
  transition: all $transition-duration-base;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:disabled {
  cursor: not-allowed;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.no-overflow {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.container-header {
  padding-left: 24px;
  padding-right: 24px;

  @media (max-width: $m) {
    padding-left: 18px;
    padding-right: 18px;
  }
  @media (max-width: $s) {
    padding-left: 0px;
    padding-right: 0px;
  }
  // @media (max-width: $s) {
  //   padding-left: 24px;
  //   padding-right: 24px;
  // }
  // @media (max-width: $xss) {
  //   padding-left: 16px;
  //   padding-right: 16px;
  // }
}

.container-small {
  padding-left: 256px;

  @media (max-width: $l) {
    padding-left: 220px;
  }

  @media (max-width: $m) {
    padding-left: 182px;
  }
  @media (max-width: $s) {
    padding-left: 0;
  }
}

.container {
  width: 100%;
  height: 100%;
  min-width: $minwidth;
  max-width: $maxwidth + 48px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;

  @media (max-width: $m) {
    padding-left: 18px;
    padding-right: 18px;
  }
  @media (max-width: $s) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media (max-width: $xss) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &.is-header {
    max-width: 1344px + 48px;
  }

  &.is-alt {
    max-width: 1440px;
  }

  &.is-section-header {
    padding-left: 0;
    padding-right: 0;

    @media (max-width: $m) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (max-width: $s) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (max-width: $xss) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.is-colors {
    padding-left: 256px;

    @media (max-width: $l) {
      padding-left: 220px;
    }

    @media (max-width: $m) {
      padding-left: 182px;
    }
    @media (max-width: $s) {
      padding-left: 24px;
    }
    @media (max-width: $xss) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.is-gallery {
    padding-left: 256px;

    @media (max-width: $l) {
      padding-left: 220px;
    }

    @media (max-width: $m) {
      padding-left: 24px;
    }
    @media (max-width: $s) {
      padding-left: 24px;
    }
    @media (max-width: $xs) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  // &.main {
  //   padding-left: 280px;

  //   @media (max-width: $l) {
  //     padding-left: 244px;
  //   }
  //   @media (max-width: $m) {
  //     padding-left: 200px;
  //   }
  //   @media (max-width: $s) {
  //     padding-left: $gap / 2;
  //   }
  // }

  &.is-partners {
    padding-left: 0;
  }

  &.padding-top {
    padding-top: 160px;

    @media (max-width: $m) {
      padding-top: 144px;
    }
    @media (max-width: $s) {
      padding-top: 96px;
    }
    @media (max-width: $xs) {
      padding-top: 48px;
    }
  }

  &.white {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

.veil {
  transition: all $transition-duration-base;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: rgba($color-grey-900, 0.25);
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.page {
  // $this: &;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // max-width: 1920px;
  // min-width: $minwidth;
  min-height: 100vh;
  margin: auto;
  position: relative;
  // z-index: $layer-1;
  // background-color: $white;

  &__header {
    z-index: 90;
    flex-shrink: 0;
  }

  // &__content {
  //   position: relative;
  //   z-index: 2;
  // }

  &__body {
    opacity: 0;
    transition: opacity 0.3s ease;
    &.active {
      opacity: 1;
    }
  }

  &__content,
  &__body,
  &__footer {
    flex-grow: 1;
  }

  &__show-more {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    @media (max-width: $m) {
      margin-top: 48px;
    }
    @media (max-width: $s) {
      margin-top: 32px;
    }
  }

  &__content {
    @media (max-width: $xs) {
      padding-top: 64px;

      &.main-page {
        padding-top: 0;
      }
    }

    
  }
}
