<template lang="pug">
  .product-tabs.container-small 
    ul.product-tabs__list
      li.product-tabs__item
        nuxt-link.product-tabs__link(to='#description') Описание
      li.product-tabs__item
        nuxt-link.product-tabs__link(to='#solutions') Решения
      li.product-tabs__item
        nuxt-link.product-tabs__link(to='#services') Услуги
      li.product-tabs__item
        nuxt-link.product-tabs__link(to='#characteristics') Характеристики
      li.product-tabs__item
        nuxt-link.product-tabs__link(to='#elements') Доборные элементы
      li.product-tabs__item
        nuxt-link.product-tabs__link(to='#advantages') Преимущества
      li.product-tabs__item
        nuxt-link.product-tabs__link(to='#gallery') Фотогалерея
      li.product-tabs__item
        nuxt-link.product-tabs__link(to='#reviews') Отзывы   
</template>

<script>
export default {
  mounted() {    
    let tabs = document.querySelector('.product-tabs')
    window.addEventListener('scroll', () => {
      this.scrollTop = pageYOffset

      
      
      if (this.scrollTop > window.outerHeight + 96) {
        tabs.classList.add('is-fixed')
        tabs.classList.remove('container-small')
      } else {
        tabs.classList.add('container-small')
        tabs.classList.remove('is-fixed')
      }
      

       
    })
  },
}
</script>



<style src='./product-tabs.scss' lang="scss">

</style>