.dropdow-item {
  & + & {
    border-top: 1px solid $color-grey-300;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__title {
    @include fontSize(14, 16);
    font-weight: 500;
    color: $color-grey-500;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;    
  }

  &__icon-shevron {
    width: 1.4rem;
    height: 1.4rem;
    stroke-width: 2;
    stroke-linecap: square;
    fill: $color-grey-500;
  }

  &__body {
    display: flex;
    flex-direction: column;
    

    &.active {
      padding-bottom: 16px;
    }
  }

  &__link {
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 500;
    padding: 8px 0;
  }
}
