<template lang="pug">
  .filter-item
    .filter-item__content
      img.filter-item__image(v-if="data.image" :src='data.image')
      .filter-item__color(v-if="data.color" :style='"background-color: " + data.color')
      .filter-item__options
        p.filter-item__name {{data.name}}
        p.filter-item__value {{data.value}}
    svg-icon.filter-item__icon(name='chevron')
</template>

<script>
export default {
  props: ['data']
}
</script>

<style src='./filter-item.scss' lang="scss">

</style>