<template lang="pug">
.products-slider
  .products-slider__container(ref='container')
    .products-slider__wrapper 
      .products-slider__slide
        ProductCard
      .products-slider__slide
        ProductCard
      .products-slider__slide
        ProductCard
      .products-slider__slide
        ProductCard
    .products-slider__controls
      button(type='button' title='Предыдущий слайд' ref="prev").products-slider__prev
        svg-icon.products-slider__icon.prev(name='arrow')
      button(type='button' title='Следующий слайд' ref="next").products-slider__next
        svg-icon.products-slider__icon(name='arrow')
</template>

<script>
import Swiper, { Navigation } from 'swiper'
Swiper.use(Navigation)
export default {
  methods: {
    initProductsSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'products-slider__wrapper',
        slideClass: 'products-slider__slide',
        slidesPerView: 'auto',
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },
      })
    },
  },
  mounted() {
    this.initProductsSlider()
  },
}
</script>

<style src='./products-slider.scss' lang="scss">
</style>