<template>
  <div class="accordion1">

  <section>
    <input type="checkbox" class="accordion1__checkbox" id="accordion1-heading-1">
    <label class="accordion1__heading" for="accordion1-heading-1">Меню 1</label>
    <div class="accordion1__content">
      <p>Текст 1</p>
      <p>Текст 1</p>
      <p>Текст 1</p>
    </div>
  </section>

  <section>
    <input type="checkbox" class="accordion1__checkbox" id="accordion1-heading-2">
    <label class="accordion1__heading" for="accordion1-heading-2">Меню 2</label>
    <div class="accordion1__content">
      <p>Текст 2</p>
      <p>Текст 2</p>
      <p>Текст 2</p>
    </div>
  </section>

  <section>
    <input type="checkbox" class="accordion1__checkbox" id="accordion1-heading-3">
    <label class="accordion1__heading" for="accordion1-heading-3">Меню 3</label>
    <div class="accordion1__content">
      <p>Текст 3</p>
      <p>Текст 3</p>
      <p>Текст 3</p>
    </div>
  </section>

</div>
</template>

<script>
export default {
  data() {
    return {
      show: 'red'
    }
  },
  

  methods: {
    
  },
}
</script>

<style lang="css">
  .accordion1 {
  max-width: 600px; margin: 0 auto;
  border: 1px solid cornflowerblue;
}

.accordion1__heading {
  display: block; position: relative; cursor: pointer;
  padding: 10px 15px; margin: 0;
  background: cornflowerblue;color: white;
}

.accordion1__heading:after, .accordion1__heading:before {
  content: ""; position: absolute;
  width: 12px; height: 3px;
  top: 50%; right: 20px;
  background: white;
  transition: all 0.5s;
}

.accordion1__checkbox:checked~.accordion1__heading:before {
  transform: rotate(90deg);
  opacity: 0;
  transition: all 0.5s;
}

.accordion1__heading:after {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.accordion1__checkbox:checked~.accordion1__heading:after {
  transform: rotate(180deg);
}

.accordion1__checkbox {
  display: none; position: absolute; left: -9999em;
}

.accordion1__checkbox:checked~.accordion1__content {
  max-height: 1000px;
  transition: all 2s;
}

.accordion1__content {
  max-height: 0; overflow: hidden; padding: 0 15px;
  transition: all 0.5s;
}
</style>