<template lang="pug">
.page__content
  .container-header  
    ProductMain(:breadcrumbs='breadcrumbs')
  .container
    ProductTabs
    Section(title="Описание" id='description')
      Description      
    Section(title="Решения с применением стеновых сэндвич-панелей" id='solutions')
      SolutionsSlider      
    Section(title="Услуги" id='services')
      ServicesSlider      
    Section(title="Характеристики" id='characteristics')
      Characteristics      
    Section(title="Общая техническая информация")
      Table      
    Section(title="Документация" id='elements')
      FilesSlider      
    Section(title="Доборные элементы")
      AccordionUnit  
    Section(title="Преимущества стеновых сэндвич-панелей" id='advantages')
      Advantages(:advantages='advantages')     
    Section(title="Фотогалерея" id='gallery')
      GallerySlider     
    Section(title="Отзывы" id='reviews')
      ReviewsSlider
  .container.padding-top     
    Calculator
</template>

<script>
export default {
  data() {
    return {
      advantages: [
        {
          icon: '/fire.svg',
          text: 'Помогаем в проектировании  и применении готовых решений',
        },
        {
          icon: '/fire.svg',
          text: 'Консультируем по особенностям применения сэндвич-панелей и их монтажу;',
        },
        {
          icon: '/fire.svg',
          text: 'Помогаем во время реализации проекта и оперативно решаем возникающих вопросов',
        },
        {
          icon: '/fire.svg',
          text: 'Предоставляем нормативную базу для сдачи объекта и ввода его в эксплуатацию',
        },
        {
          icon: '/fire.svg',
          text: 'Сопровождаем проект от подачи заявки до заключения договора, если он участвует в торгах;',
        },
        {
          icon: '/fire.svg',
          text: 'Сопровождение специалистами сделок по производству сэндвич-панелей',
        },
      ],
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'каталог',   
          url: '/solutions',       
        },
        {
          title: 'сэндвич-панели',   
          url: '/solutions',       
        },
        {
          title: 'стеновые сэндвич-панели'
        }        
      ]
      
      return breadcrumbs
    },
  },
}
</script>