<template lang="pug">
.solutions-slider
  h3.solutions-slider__headline(v-if="title") {{title}}
  .solutions-slider__container(ref='container')
    .solutions-slider__wrapper 
      .solutions-slider__slide
        SolutionCard
      .solutions-slider__slide
        SolutionCard
      .solutions-slider__slide
        SolutionCard
      .solutions-slider__slide
        SolutionCard
    .solutions-slider__controls      
      button(type='button' title='Предыдущий слайд' ref="prev").solutions-slider__prev
        svg-icon.solutions-slider__icon.prev(name='arrow')      
      button(type='button' title='Следующий слайд' ref="next").solutions-slider__next
        svg-icon.solutions-slider__icon(name='arrow')
</template>

<script>
import Swiper, { Navigation } from 'swiper'
Swiper.use(Navigation)
export default {
  props: ['title'],
  methods: {
    initSolutionsSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'solutions-slider__wrapper',
        slideClass: 'solutions-slider__slide',
        slidesPerView: 'auto',
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },
      })
    },
  },
  mounted() {
    this.initSolutionsSlider()
  },
}
</script>

<style src='./solutions-slider.scss' lang="scss">
</style>