<template lang="pug">
.features  
  .features__items
    .features__item(v-for="feature in features" :key="feature.id")
      Feature(:data='feature')
</template>

<script>
export default {
  data() {
    return {
      features: [
        {
          value: '1 000 000 м²',
          name: 'прозводственные мощности'
        },
        {
          value: '50–300 мм',
          name: 'толщина панелей'
        },
        {
          value: 'до 13 500 мм',
          name: 'длина панелей'
        },
        {
          value: '600–1200 мм',
          name: 'монтажная ширина стеновых панелей'
        },
        {
          value: '1000 мм',
          name: 'монтажная ширина кровельных панелей'
        }
      ]
    }
  },

}
</script>

<style src='./features.scss' lang="scss">
</style>