.calculator-item {
  display: flex;
  background-color: $color-grey-0;
  padding: 24px;
  cursor: pointer;
  border: 1px solid $color-grey-300;

  &.active {
    border: 2px solid $color-blue-700;
    padding: 23px;
  }

  & + & {
    margin-top: 8px;
  }

  &__box {
    transition: background 0.3s ease, border 0.3s ease;
    width: 24px;
    height: 24px;
    border: 1px solid $color-grey-300;
    background-color: $color-grey-100 !important;
    border-radius: 12px;
    position: relative;
  }

  &:hover .calculator-item {
    border-color: $color-grey-400;
  }
  &__tag {
    &:checked {
      + .calculator-item {
        background-color: $color-grey-100;
        border: 1px solid $color-grey-300;
        &::before {
          content: '';
          width: 12px;
          height: 12px;
          position: absolute;
          background-color: $color-blue-700;
          border-radius: 12px;
          top: 5px;
          left: 5px;
        }
      }
    }

    &:disabled {
      + .calculator-item {
        filter: grayscale(1);
        cursor: not-allowed;
      }
    }
  }

  &__span {
    color: $color-grey-900;
    @include fontSize(18, 24);
    font-weight: 400;
    user-select: none;
    margin-left: 16px;
  }
}
