.material-card {
  background-color: $color-grey-100;
  padding: 24px;
  display: flex;
  flex-direction: column;

  

  &__cover {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 192px;
    mix-blend-mode: multiply;
  }

  &__image {
    height: 100%;
  }

  &__name {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  &__title {
    color: $color-grey-900;
    @include fontSize(24, 32);
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__text {
    color: $color-grey-500;
    @include fontSize(16, 24);
    font-weight: 400;
  }

  &__characteristics {
    margin-top: 48px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}
