<template lang="pug">
  .material-card
    .material-card__cover
      img.material-card__image(src='/material.png')
    .material-card__name
      p.material-card__title Wallpanels Pro X
      p.material-card__text  С минеральной ватой
    .material-card__characteristics
      .material-card__characteristic
        p.material-card__text Толщина
        p.material-card__value 60 мм
      .material-card__characteristic
        p.material-card__text Вес
        p.material-card__value 15,8 кг/м²
      .material-card__characteristic
        p.material-card__text Длина
        p.material-card__value до 1300 мм
      .material-card__characteristic
        p.material-card__text Ширина
        p.material-card__value 900-1200 мм
</template>

<style src='./material-card.scss' lang="scss">

</style>