<template lang="pug">
.page__content
  .container-header
    SectionHeader(:breadcrumbs='breadcrumbs', title='Большая стройка в Сосновом Бору: Лениградская АЭС-2', image='/news.png' objects='15 февраля 2021')
  .container
    Wysiwyg.container-small  
  .container.padding-top
    GallerySlider.container-small   
</template>

<script>
export default {
  data() {
    return {
      
    }
  },  
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'новости',          
          url: '/news',          
        },
        {
          title: 'Большая стройка в Сосновом Бору: Лениградская АЭС-2',         
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>