.solutions-page {
  margin-top: 160px;

  @media (max-width: $m) {
    margin-top: 144px;
  }
  @media (max-width: $s) {
    margin-top: 96px;
  }
  @media (max-width: $xss) {
    margin-top: 48px;
  }

  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &__item {
    flex-basis: 33%;

    @media (max-width: $s) {
      flex-basis: 50%;
    }

    @media (max-width: $xs) {
      flex-basis: 100%;
    }

    &.is-big {
      flex-basis: 66%;
      @media (max-width: $s) {
        flex-basis: 50%;
      }
      @media (max-width: $xs) {
        flex-basis: 100%;
      }
    }
  }
}
