<template lang='pug'>
.characteristics-links
  ul.characteristics-links__list
    li.characteristics-links__item
      nuxt-link.characteristics-links__link(to='/')
        | Несущая способность
        svg-icon.section-main__icon(name="arrow-up-right")
    li.characteristics-links__item
      nuxt-link.characteristics-links__link(to='/')
        | Теплоизоляционные характеристики
        svg-icon.section-main__icon(name="arrow-up-right")
    li.characteristics-links__item
      nuxt-link.characteristics-links__link(to='/')
        | Огнейстойкость
        svg-icon.section-main__icon(name="arrow-up-right")
    li.characteristics-links__item
      nuxt-link.characteristics-links__link(to='/')
        | Звукоизоляция
        svg-icon.section-main__icon(name="arrow-up-right")
    li.characteristics-links__item
      nuxt-link.characteristics-links__link(to='/')
        | Виды профилирования
        svg-icon.section-main__icon(name="arrow-up-right")
    li.characteristics-links__item
      nuxt-link.characteristics-links__link(to='/')
        | Двухкомпонентный клей
        svg-icon.section-main__icon(name="arrow-up-right")
    
</template>



<style lang='scss' src='./characteristics-links.scss'>
</style>