.characteristics-links {
  &__item {
    & + & {
      margin-top: 24px;
      @media (max-width: $s) {
        margin-top: 16px;
      }
    }
  }
  &__link {
    color: $color-blue-700;
    @include fontSize(24, 32);
    font-weight: 500;
    display: flex;
    align-items: center;

    @media (max-width: $s) {
      @include fontSize(18, 24);
    }

    &:hover {
      color: $color-blue-900;
      .section-main__icon {
        fill: $color-blue-900;
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    fill: $color-blue-700;
  }
}