<template lang="pug">
  .footer
    .footer__main
      .footer__mobile-items
        DropdowItem(content="is-footer")
        DropdowItem(content="is-footer")
        DropdowItem(content="is-footer")
      .footer__items
        .footer__item
          p.footer__title Клиентам
          nuxt-link.footer__link(to='/') Каталог
          nuxt-link.footer__link(to='/') Решения
          nuxt-link.footer__link(to='/') Центр компетенций
          nuxt-link.footer__link(to='/') Генподрядчикам
          nuxt-link.footer__link(to='/') Конструкторам
          nuxt-link.footer__link(to='/') Строителям
        .footer__item
          p.footer__title Услуги
          nuxt-link.footer__link(to='/') Калькулятор сэндвич-панелей
          nuxt-link.footer__link(to='/') Доставка
          nuxt-link.footer__link(to='/') Шеф-монтаж
          nuxt-link.footer__link(to='/') Аренда оборудования
          nuxt-link.footer__link(to='/') Проектирование
        .footer__item
          p.footer__title Материалы для скачивания
          nuxt-link.footer__link(to='/') Каталог продукции
          nuxt-link.footer__link(to='/') Технические решения
          nuxt-link.footer__link(to='/') Сертификаты
          nuxt-link.footer__link(to='/') Протоколы испытаний
          nuxt-link.footer__link(to='/') Инструкции и рекомендации
        .footer__item
          p.footer__title Компания
          nuxt-link.footer__link(to='/') О компании
          nuxt-link.footer__link(to='/') Вакансии
          nuxt-link.footer__link(to='/') Стажировки студентов
          nuxt-link.footer__link(to='/') Дистрибьютерам
          nuxt-link.footer__link(to='/') Контакты
          nuxt-link.footer__link(to='/') Социальная ответственность
    .footer__top
      p.footer__copyright © 2020 «Стройэлемент»
      Socials
    .footer__bottom
      .footer__contents
        nuxt-link.footer__bottom-text(to='/') Cookie-файлы
        nuxt-link.footer__bottom-text(to='/') Политика конфиденциальности
        nuxt-link.footer__bottom-text(to='/') Обработка персональных данных
      .footer__twoletters
        TwoLetters
</template>

<script>
export default {
  data() {
    return {
      text: 'Footer'
    }
  },
}
</script>

<style src='./footer.scss' lang="scss">

</style>