.footer {
  padding: 48px 48px 24px 48px;
  background-color: $color-grey-100;
  margin-top: 160px;

  @media (max-width: $m) {
    padding: 48px 36px 24px 36px;
    margin-top: 144px;
  }

  @media (max-width: $s) {
    padding: 24px;
    margin-top: 96px;
  }

  @media (max-width: $xss) {
    padding: 24px 16px;
    margin-top: 64px;
  }

  &__main {
    padding-bottom: 96px;
    @media (max-width: $m) {
      padding-bottom: 64px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__mobile-items {
    display: none;
    @media (max-width: $s) {
      display: block;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @media (max-width: $m) {
      max-width: 202px;
    }
  }

  &__title {
    color: $color-grey-500;
    @include fontSize(16, 24);
    font-weight: 500;
  }

  &__link {
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 500;
    margin-top: 16px;

    &:hover {
      color: $color-blue-700;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-grey-300;
    padding-bottom: 24px;

    @media (max-width: 384px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__copyright {
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 500;

    @media (max-width: 384px) {
      margin-bottom: 16px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;

    @media (max-width: $m) {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 24px;
    }
  }

  &__contents {
    @media (max-width: $m) {
      margin-bottom: 24px;
    }

    @media (max-width: $xss) {
      display: flex;
      flex-direction: column;
    }
  }

  &__bottom-text {
    color: $color-grey-500;
    @include fontSize(16, 24);
    font-weight: 400;
    &+&{
      margin-left: 32px;
      @media (max-width: $m) {
        margin-left: 24px;
      }

      @media (max-width: $xss) {
        margin-left: 0;
        margin-top: 12px;
      }
    }
  }

  &__twoletters {
    max-width: 200px;
    @media (max-width: $m) {
      max-width: unset;
    }
  }


}

