<template lang="pug">
  .accordion
    .accordion__head(@click="toogleDropdown")
      .accordion__header
        .accordion__title(:class='{"active": dropdownOpened}') Технологические карты
      .accordion__icon        
        svg-icon.accordion__icon-shevron(v-if="!dropdownOpened" name='plus')
        svg-icon.accordion__icon-shevron(v-if="dropdownOpened" name='minus')
    
    .accordion__body(:class='{"active": dropdownOpened}')
      p.accordion__text(v-show-slide:500:example-easing="dropdownOpened") Стеновые сэндвич-панели — это самонесущие навесные конструкции, состоящие из профилированного металлического корпуса и теплоизоляционного внутреннего наполнения. Их используют в качестве ограждающих строительных конструкций в промышленном строительстве, при возведении складских и сельскохозяйственных объектов, общественных и торговых зданий, холодильных камер, домов коттеджного типа.        
</template>

<script>
export default {
  data() {
    return {
      dropdownOpened: false
    }
  },
  methods: {
    toogleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
    }
  },
}
</script>

<style src='./accordion.scss' lang="scss">

</style>