
.solution-card {
  $this: &;
  position: relative;
  width: 100%;
  height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 24px;
  background-color: $color-blue-900; 

  @media (max-width: $l) {
    height: 392px;
  }
  @media (max-width: $m) {
    height: 328px;
  }
  @media (max-width: $s) {
    height: 316px;
    padding: 16px;
  }
  @media (max-width: $xss) {
    height: 272px;
  }
  @media (max-width: $xs) {
    height: 288px;
  }

  

  &:hover {
    #{$this}__hover {
      opacity: 1;
      transform: translateY(0);
    }
    #{$this}__background-color {
      transform: translateY(0);
      opacity: 1;
    }
    #{$this}__bottom {
      opacity: 0;
      transform: translateY(-96px);
    }    
    #{$this}__icon {      
      transform: translate(8px, -8px);
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    transition: opacity 0.3s ease-in;
    filter: brightness(68%);
  }

  &__background-color {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    background-color: $color-blue-900;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }  

  &__numbers {
    color: $color-grey-0;
    @include fontSize(14, 16);
    font-weight: 500;
    padding: 8px 12px;
    border: 1px solid $color-grey-0;
    border-radius: 20px;
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
  }

  &__icon {   
    width: 3.2rem;
    height: 3.2rem;   
    fill: $color-white; 
    transition: transform 0.5s ease;
  }

  &__bottom {
    z-index: 0;
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.5s ease;
  }

  &__name {
    color: $color-grey-0;
    @include fontSize(24, 32);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  &__text {
    color: $color-grey-0;
    @include fontSize(16, 24);
    font-weight: 400;
    margin-top: 16px;
    
    @media (max-width: $xss) {
      max-height: 128px;
    }
  }


  &__hover {
    z-index: 2;
    opacity: 1;
    position: absolute;
    bottom: 24px;
    background-color: $color-blue-900;
    transition: opacity 0.6s ease, transform 0.6s ease;
    overflow: hidden;
    transform: translateY(calc(100% + 24px));
    
    @media (max-width: $s) {      
      bottom: 16px;
    }
  }
}

