<template lang='pug'>
.page  
  header.page__header
    Header(:path='path')
  main.page__body(:class='{"active": inited}')
    Nuxt
  footer.page__footer
    Footer
</template>



<script>
export default {
  data() {
    return {
      inited: false      
    }
  },  
  computed: {
    path() {
      return this.$route.fullPath
    },
  },
  mounted() {    
    this.inited = true
  },
}
</script>