<template lang="pug">
  .solutions-main    
    .solutions-main__item
      SolutionCard
    .solutions-main__item
      SolutionCard
    .solutions-main__item
      SolutionCard
    .solutions-main__item
      SolutionCard
    .solutions-main__item
      SolutionCard
    .solutions-main__item
      SolutionCard    
</template>

<style src='./solutions-main.scss' lang="scss">

</style>