<template lang="pug">
.files-item
  .container.small
    h2.files-item__title Сертификаты
  .files-item__list(:class='type')
    .files-item__card(v-for="file in files" :key="file.id")      
      GuideCard(v-if="type == 'guide'")
      FileCard.is-big(v-else :data='file')
  .page__show-more
    ShowMore
</template>

<script>
export default {
  props: ['type'],
  data() {
    return {      
      files: [
        {
          name: "Технический каталог",
          type: "zip",
          size: '11,56 Мб',
          image: '/file-image-2.jpg'
        },
        {
          name: "Каталог цветов RAL",
          type: "pdf",
          size: '4,61 Мб',
          image: '/file-image-1.jpg'
        },
        {
          name: "Документ без обложки",
          type: "pdf",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "pdf",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "pdf",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "png",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "png",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "png",
          size: '5 Мб'
        },
      ]
    }
  },
}
</script>

<style src='./files-item.scss' lang="scss">

</style>