.map {
  width: 100%;
  height: 624px;

  @media (max-width: $l) {
    height: 524px;
  }
  @media (max-width: $m) {
    height: 534px;
  }
  @media (max-width: $s) {
    height: 420px;
  }
  @media (max-width: $xs) {
    height: 432px;
  }
}