<template lang="pug">
.page__content
  Breadcrumbs(:data="breadcrumbs")
  Headline(title='' :content='content' underline='Строителям')  
  .container    
    Section(title="Правила монтажа сэндвич-панелей")
      Accordion
      Accordion
      Accordion
      Accordion
      Accordion
    Section(title="Правила разгрузки и хранения")
      Description
    Section(title="Особенности монтажа сэндвич-панелей")
      Accordion
      Accordion
      Accordion
      Accordion
      Accordion
    Section(title="Рекомендации по применению сэндвич панелей")
      Description
    Section(title="Использование техники при монтаже сэндвич-панелей")
      Description
    Section(title="Каталог узлов")
      FilesSlider
      AccordionUnit
    Section(title="Рекомендации по подбору метизов")
      Description
    Section(title="Таблица нагрузок")
      Table
    Section(title="Услуги для строителей")
      ServicesSlider
    Section(title="Сертификаты и паспорта")
      FilesSlider
</template>

<script>
export default {
  data() {
    return {
      content: ['В мире построено и успешно эксплуатируется более 4000 объектов различного типа, построенных компанией «Стройэлемент».', 'При строительстве и реконструкции объектов мы применяем собственные сертифицированные решения — современные быстровозводимые трансформаторные подстанции и их отдельные компоненты.']
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'строителям',          
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>