<template lang="pug">
.page__content
  .container-header
    SectionHeader(:breadcrumbs='breadcrumbs', title='Контакты', image='/contacts-page.png')
  .container.padding-top
    ContactItem.container-small(:data='contact' v-for="contact in contacts" :key="contact.id")    
    Section(title="Мы на карте")
      Map
  .container.padding-top
    FormFeedback
</template>

<script>
export default {
  data() {
    return {
      contacts: [
        {
          title: 'Производство',
          address: 'Россия, 188631, Ленинградская обл., Гатчинский р-н, д. Малое Замостье, ул. Полевая, д. 7',
          phone: '+7 (812) 493-34-99',
          email: 'info@selem.ru',
          coords: 'dasdsasa'
        },
        {
          title: 'Дилер ООО «Панель-Спб»',
          address: 'Россия, 192007, г. Санкт-Петербург, Лиговский пр-т, д. 162 лит. А, пом. 2-Н',
          phone: '+7 (911) 974-70-81',
          email: 'info@selem.ru',
          coords: 'dasdsasa'
        },
      ]
    }
  },  
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'контакты', 
        }        
      ]
      
      return breadcrumbs
    },
  },
}
</script>