<template lang="pug">
.page__content
  Breadcrumbs(:data="breadcrumbs")
  Headline(underline='Справочник')
  .container
    FilesPage
</template>

<script>
export default {
  data() {
    return {
      
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Справочник',          
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>