<template lang="pug">
  .accordion.unit(:class='{"active": dropdownOpened}')
    .accordion__head(@click="toogleDropdown" )
      .accordion__header
        .accordion__title(:class='{"active": dropdownOpened}') Список узлов
      .accordion__icon
        svg-icon.accordion__icon-shevron(v-if="!dropdownOpened" name='plus')
        svg-icon.accordion__icon-shevron(v-if="dropdownOpened" name='minus')    
    .accordion__body(v-show-slide:500:example-easing="dropdownOpened")
      a.accordion__button(href="/01.svg" download) 
        svg-icon.accordion__icon-download(name='download')
        | Скачать одним архивом
      .accordion__list
        .accordion__item
          .accordion__content
            p.accordion__text.title Название стандартного узла
            p.accordion__subtitle ZIP • 5 Мб
          a.accordion__link.unit(href="https://hh.ru/" download) Скачать        
        .accordion__item
          .accordion__content
            p.accordion__text.title Название стандартного узла
            p.accordion__subtitle ZIP • 5 Мб
          a.accordion__link.unit(href="https://hh.ru/" download) Скачать        
        .accordion__item
          .accordion__content
            p.accordion__text.title Название стандартного узла
            p.accordion__subtitle ZIP • 5 Мб
          a.accordion__link.unit(href="https://hh.ru/" download) Скачать        
</template>

<script>
export default {
  data() {
    return {
      dropdownOpened: false
    }
  },
  methods: {
    toogleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
    },
  },
}
</script>

<style lang="scss">
@import '../Accordion/accordion';
</style>