.section-main {
  padding-top: 160px;
  display: flex;
  flex-direction: column;

  @media (max-width: $m) {
    padding-top: 144px;
  }
  @media (max-width: $s) {
    padding-top: 96px;
  }
  @media (max-width: $xss) {
    padding-top: 48px;
  }

  &__header {
    margin-bottom: 64px;
    padding-left: 256px;

    @media (max-width: $l) {      
      margin-bottom: 48px;
      padding-left: 220px;
    }

    @media (max-width: $m) {      
      margin-bottom: 32px;
      padding-left: 182px;
    }
    @media (max-width: $s) {      
      margin-bottom: 24px;
      padding-left: 0;
    }
  }

  &__title {
    color: $color-grey-900;
    @include fontSize(48, 56);
    font-weight: 600;
    margin: 0;

    @media (max-width: $m) {      
      @include fontSize(40, 48);
    }
    @media (max-width: $s) {      
      @include fontSize(32, 40);
    }
    @media (max-width: $xs) {      
      @include fontSize(24, 32);
    }
  }

  &__link {
    color: $color-blue-700;
    @include fontSize(24, 32);
    font-weight: 500;
    display: flex;
    align-items: center;

    @media (max-width: $s) {      
      @include fontSize(18, 24);
    }

    &:hover {
      color: $color-blue-900;
      .section-main__icon {        
        fill: $color-blue-900;
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    fill: $color-blue-700;
  }

  &__body {
    
  }

  &__footer {
    padding-top: 64px;
    @media (max-width: $m) {      
      padding-top: 48px;
    }
    @media (max-width: $s) {
      padding-left: 140px;
      padding-top: 32px;
    }
    @media (max-width: $xs) {
      padding-left: 0;
      padding-top: 24px;
    }

    padding-left: 256px;

    @media (max-width: $l) {      
      
      padding-left: 220px;
    }

    @media (max-width: $m) { 
      padding-left: 182px;
    }
    @media (max-width: $s) { 
      padding-left: 109px;
    }
    @media (max-width: $xss) { 
      padding-left: 0;
    }
  }


}