.files-page {
  display: flex;
  flex-direction: column;

  &__selects {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    @media (max-width: $m) {
      gap: 16px;
    }
    @media (max-width: $xss) {
      grid-template-rows: 1fr;
    grid-template-columns: 1fr ;
    }
  }

  &__items {
    margin-top: 48px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 64px 24px;

    @media (max-width: $m) {
      gap: 48px 16px;
      margin-top: 32px;
    }

    @media (max-width: $s) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px 16px;
      margin-top: 24px;
    }
    @media (max-width: $xss) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px 16px;
    }
    @media (max-width: $xs) {
      grid-template-columns: 1fr 1fr;
    }
  }

  
}