.object-card {
  $this: &;
  position: relative;
  width: 100%;
  height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  overflow: hidden;
  // background-color: $color-blue-900;

  @media (max-width: $l) {
    height: 392px;
  }
  @media (max-width: $m) {
    height: 328px;
  }
  @media (max-width: $s) {
    height: 316px;
    padding: 16px;
  }
  @media (max-width: $xss) {
    height: 288px;
  }

  &:hover {    

    #{$this}__container {
      top: 24px;
    }

    #{$this}__text {
      &.visible {
        opacity: 1;
      }
    }
    #{$this}__background-color {
      transform: translateY(0);
      opacity: 1;
    }

    #{$this}__icon {      
      transform: translate(8px, -8px);
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    filter: brightness(68%);
  }  

  &__background-color {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    background-color: $color-blue-900;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }  

  &__icon {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 32px;
    height: 32px;
    fill: $color-white;
    transition: transform 0.3s ease;

    
  }

  &__bottom {
    position: absolute;
    bottom: 24px;
    left: 24px;  

    @media (max-width: $s) {
      left: 16px;
      bottom: 16px;
    }
  }

  &__name {
    color: $color-grey-0;
    @include fontSize(24, 32);
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 16px;
    @media (max-width: $xss) {
      overflow: hidden;
      max-width: 300px;
      // max-height: 120px;
    }
  }

  &__text {
    color: $color-grey-0;
    @include fontSize(16, 24);
    font-weight: 400;    
    transition: opacity 0.5s ease;

    @media (max-width: $xss) {
      overflow: hidden;
      max-width: 390px;
      max-height: 120px;
    }
    @media (max-width: $xs) {      
      max-width: 390px;
      max-height: 120px;
    }

    &.bold {
      font-weight: 500;
    }

    &.visible {
      opacity: 0;
    }
  }

  &__container {
    position: absolute;
    left: 24px;
    top: 50%;
    max-width: 592px;
    transition: top 0.5s ease;

    @media (max-width: $s) {
      left: 16px;
    }
  }
  
}
