<template lang="pug">
.dropdown-menu
  .dropdown-menu__content
    .dropdown-menu__items
      DropdownHeader(v-for="item in mobileMenu" :key="item.id" :data='item')
    .dropdown-menu__item
      .dropdown-menu__title Каталог
      .dropdown-menu__links
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Акустические сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Акустические сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Акустические сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Акустические сэндвич-панели
    .dropdown-menu__item
      .dropdown-menu__title Каталог
      .dropdown-menu__links
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
    .dropdown-menu__item
      .dropdown-menu__title Каталог
      .dropdown-menu__links
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
        nuxt-link.dropdown-menu__link(to='/product/slug' @click.native='close') Стеновые сэндвич-панели
  .dropdown-menu__footer
    .dropdown-menu__socials
      Socials
    .dropdown-menu__dvebukvy
      TwoLetters
</template>

<script>
export default {
  data() {
    return {
      mobileMenu: [
        {
          title: 'Каталог',
          items: [
            {
              title: 'Типовая страница',
              link: '/info/slug',
            },
          ],
        },
        {
          title: 'Решения',
          items: [
            {
              title: 'Типовая страница',
              link: '/info/slug',
            },
          ],
        },
        {
          title: 'Страницы сайта',
          items: [
            {
              title: 'Типовая страница',
              link: '/info/slug',
            },
            {
              title: 'Новости',
              link: '/news',
            },
            {
              title: 'Новость',
              link: '/news/slug',
            },
            {
              title: 'Страница объекта',
              link: '/objects/slug',
            },
            {
              title: 'Страница товара',
              link: '/product/slug',
            },
            {
              title: 'Услуги',
              link: '/services',
            },
            {
              title: 'Услуга',
              link: '/services/slug',
            },
            {
              title: 'Решения',
              link: '/solutions',
            },
            {
              title: 'Решение',
              link: '/solutions/slug',
            },
            {
              title: 'О нас',
              link: '/about',
            },
            {
              title: 'Строителям',
              link: '/builders',
            },
            {
              title: 'Сотрудничество с нами',
              link: '/collaboration',
            },
            {
              title: 'Контакты',
              link: '/contacts',
            },
            {
              title: 'Конструкторам',
              link: '/designers',
            },
            {
              title: 'Справочник',
              link: '/files',
            },
            {
              title: 'Вакансии',
              link: '/vacancies',
            },
          ],
        },
      ],
    }
  },
  methods: {
    close() {
      this.$nuxt.$emit('closeMenu')
    }
  },  
}
</script>

<style src='./dropdown-menu.scss' lang="scss">

</style>