<template lang="pug">
.files-slider  
  .files-slider__container(ref='container')
    .files-slider__wrapper 
      .files-slider__slide(v-for="file in files" :key="file.id")
        FileCard(:data='file')      
    .files-slider__controls
      button(type='button' title='Предыдущий слайд' ref="prev").files-slider__prev
        svg-icon.files-slider__icon.prev(name='arrow')
      button(type='button' title='Следующий слайд' ref="next").files-slider__next
        svg-icon.files-slider__icon(name='arrow')
</template>

<script>
import Swiper, { Navigation } from 'swiper'
Swiper.use(Navigation)
export default {
  data() {
    return {
      files: [
        {
          name: "Технический каталог",
          type: "zip",
          size: '11,56 Мб',
          image: '/file-image-2.jpg'
        },
        {
          name: "Каталог цветов RAL",
          type: "pdf",
          size: '4,61 Мб',
          image: '/file-image-1.jpg'
        },
        {
          name: "Документ без обложки",
          type: "pdf",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "png",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "png",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "png",
          size: '5 Мб'
        },
      ]
    }
  },
  methods: {
    initFilesSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'files-slider__wrapper',
        slideClass: 'files-slider__slide',
        slidesPerView: 'auto',
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },
      })
    },
  },
  mounted() {
    this.initFilesSlider()
  },
}
</script>

<style src='./files-slider.scss' lang="scss">
</style>