<template lang="pug">
.materials-slider
  h3.materials-slider__headline Наружный контур здания
  .materials-slider__container(ref='container')
    .materials-slider__wrapper 
      .materials-slider__slide
        MaterialCard
      .materials-slider__slide
        MaterialCard
      .materials-slider__slide
        MaterialCard
      .materials-slider__slide
        MaterialCard 
    .materials-slider__controls
      button.materials-slider__prev(
        type='button',
        title='Предыдущий слайд',
        ref='prev'
      )
        svg-icon.materials-slider__icon.prev(name='arrow')
      button.materials-slider__next(
        type='button',
        title='Следующий слайд',
        ref='next'
      )
        svg-icon.materials-slider__icon(name='arrow')
  .materials-slider__footer
    nuxt-link.materials-slider__link(to='link') 
      | Стеновые сэндвич-панели
      svg-icon.materials-slider__icon-link(name='arrow-up-right')
</template>

<script>
import Swiper, { Navigation } from 'swiper'
Swiper.use(Navigation)
export default {
  methods: {
    initMaterialsSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'materials-slider__wrapper',
        slideClass: 'materials-slider__slide',
        slidesPerView: 'auto',
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },        
      })
    },
  },
  mounted() {
    this.initMaterialsSlider()
  },
}
</script>

<style src='./materials-slider.scss' lang="scss">
</style>