<template lang="pug">
  .dropdow-header
    .dropdow-header__head(@click="toogleDropdown")
      .dropdow-header__title {{data.title}}
      .dropdow-header__icon
        svg-icon.dropdow-header__icon-shevron(v-if="!dropdownOpened" name='shevron-right')
    transition(name="dropdown")
      .dropdow-header__slidemenu(:class='{"is-active": dropdownOpened}')
        .dropdow-header__headline(@click='toogleDropdown')           
          .dropdow-header__icon
            svg-icon.dropdow-header__icon-shevron.back(v-if="dropdownOpened" name='chevron-left')
          p.dropdow-header__title-grey Каталог
        nuxt-link.dropdow-header__link(@click.native='close' :to='item.link' v-for="item in data.items" :key="item.id") {{item.title}}
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      dropdownOpened: false
    }
  },
  methods: {
    toogleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
    },
    close() {
      this.$nuxt.$emit('closeMenu')
    }
  },
}
</script>

<style src='./dropdow-header.scss' lang="scss">

</style>