<template lang="pug">
.description-features
  p.description-features__text Производственный комплекс IKEA является крупнейшим производственным комплексом по производству мебели из древесных материалов. Комплекс выполнен в металлокаркасном исполнении, он обшит заводскими сэндвич-панелями, и включает в себя всё необходимое инженерное обеспечение: отопление, вентиляцию, электрическое обеспечение и оборудование.
  .description-features__items
    .description-features__item(v-for="feature in features" :key="feature.id")
      Feature(:data='feature')
</template>

<script>
export default {
  data() {
    return {
      features: [
        {
          value: '2014',
          name: 'год'
        },
        {
          value: 'Петропавловск-Камчатский',
          name: 'местоположение'
        },
        {
          value: '60 000 м²',
          name: 'объём поставок'
        }
      ]
    }
  },

}
</script>

<style src='./description-features.scss' lang="scss">
</style>