.description-features {

  &__text {
    @include fontSize(18, 24);
    font-weight: 400;
    color: $color-grey-900;
  }

  &__items {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $m) {
      margin-top: 32px;
    }
    @media (max-width: $xss) {
      margin-top: 24px;
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 48px;

    @media (max-width: $s) {
      margin-right: 32px;
    }

    @media (max-width: $xss) {
      margin-right: 0;
      &+& {
        margin-top: 16px;
      }
    }
  }
}