.breadcrumbs {
  $this: &;
  
  
  &.white {
    #{$this}__list {
      margin: 0;
    }
    #{$this}__link {
      color: $color-white;
    }
    #{$this}__item {
      &::before {
        background-color: $color-white;
      }
    }
  }

  &.is-product {
    #{$this}__list {
      margin: 0;
      margin-bottom: 40px;

      @media (max-width: $m) {
        margin-bottom: 32px;
      }
      @media (max-width: $s) {
        margin-bottom: 24px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 40px 0;
    flex-wrap: wrap;

    @media (max-width: $m) {
      margin: 32px 0;
    }
    @media (max-width: $s) {
      margin: 24px 0;
    }
  }

  &__item {
    flex-shrink: 0;

    & + & {
      margin-left: 27px;
      position: relative;

      &::before {
        content: '';
        width: 11px;
        height: 1px;
        background-color: $color-grey-900;
        position: absolute;
        top: 54%;
        right: calc(100% + 8px);
      }
    }
  }

  &__link {
    @include fontSize(14, 16);
    font-weight: 400;
    color: $color-grey-900;
    text-transform: lowercase;

    &.unactive {
      opacity: 0.5;
    }
  }
}
