<template lang="pug">
.services-slider
  .services-slider__container(ref='container')
    .services-slider__wrapper 
      .services-slider__slide
        ServiceCard
      .services-slider__slide
        ServiceCard
      .services-slider__slide
        ServiceCard
      .services-slider__slide
        ServiceCard
    .services-slider__controls
      button(type='button' title='Предыдущий слайд' ref="prev").services-slider__prev
        svg-icon.services-slider__icon.prev(name='arrow')
      button(type='button' title='Следующий слайд' ref="next").services-slider__next
        svg-icon.services-slider__icon(name='arrow')
</template>

<script>
import Swiper, { Navigation } from 'swiper'
Swiper.use(Navigation)
export default {
  methods: {
    initServicesSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'services-slider__wrapper',
        slideClass: 'services-slider__slide',
        slidesPerView: 'auto',
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },
      })
    },
  },
  mounted() {
    this.initServicesSlider()
  },
}
</script>

<style src='./services-slider.scss' lang="scss">
</style>